<div class="container mt-4">
	<h2>Thank you for purchasing {{product}}</h2>
	<hr>
	<p>Your transaction ID is {{tid}}</p>
	<p>Check your email for more info.</p>
	<p><a href="/" class="btn btn-light mt-2">Go Back</a></p>
</div>
